body{
    overflow: auto;
    background: linear-gradient(90deg, rgba(20,222,226,1) 0%, rgba(15,42,145,1) 50%, rgba(187,27,187,1) 100%);
}
.header{
    display:flex;
    justify-content: center;
    position: relative;
    
    top:200px;
}
#S-T{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.center-contain{
    display: flex;
    justify-content: center;
    margin:0;
}
.circle-contain{
   display:flex;
   justify-content: center;
   align-items: center;
   margin-bottom:30px;
}
#circle-stopwatch{

    height:350px;;
    width: 350px;
    background-color: transparent;
    border: 2px solid;
    display:grid;
    align-items: center;
    border-radius:50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
#time{
    display:flex;
    justify-self: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pause-contain{
    margin-top:45px;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    border: 2px solid;
    top:70%;
    left:50%;
    transform: translate(-50%, -50%);
    height:60px;
    width:60px;
   
}
#pause-button {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 25px;
    border-left: 6px solid;
    border-right: 6px solid
}
